/*Alineacion de textos*/
p{
  text-align: justify;
  text-indent: 1cm;
  text-transform: capitalize;
  letter-spacing: 5px;
}

h1{
  text-decoration: overline;
  word-spacing: 30px;
  color: orange;
}
