*
{
	margin:0;
}

#cabecera{
	background: #5b7989;
	border-radius: 10px 10px 0px 0px;
  animation: rebota 1s;
}

#pie{
	background: #5b7989;
	border-radius: 10px 10px 0px 0px;
}

@-webkit-keyframes rebota {
  0% {
		margin-top: 150%;
  }
  60% {
		margin-top: -5%;
  }
  100% {
  margin-top: 0%;
  }
}

h1{
	color: white;
	text-shadow: 1px 2px #02010a;
	border: 10px;
	font-family: "Dancing Script";
	display:inline;
 }

a{
	align-items: center;
}

body{
	font-family: "Dancing Script";
	background-color:  #02010a;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
	display:inline;
}

li {
  float: right;
}

li a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

#wrapper
{
	width: 960px;
	margin: 0 auto;
}
#wrapperpie
{
	width: 960px;
	margin: 0 auto;
}

#wrapperretrato
{
	width: 960px;
	margin: 0 auto;
}

article
{
	box-sizing: border-box;
	float:left;
	height: 100%;
	background-color: grey;
	padding: 2%;
	text-align: center;
	height: 400px;
}

#caja{
width: 70%;
height: 90%;
}
#caja img {width: 100%;
height: 100%;
box-shadow: 2px #02010a;
}

#img2:hover {
  transform: rotate(10deg);
	box-shadow: 2px 2px 10px #82c3a6;
}
#img3:hover{
	transform: translateY(5px);
	transform: translateX(20px);
	box-shadow: 2px 2px 10px #82c3a6;
}

#Retrato1{
	filter: blur(10px);
}

#RetratoGris{
	filter: grayscale(100%);
}

#Retrato3{
	filter: sepia(90%);
}

#columna1
{
background-color: #82c3a6;
width: 100%;
box-shadow: 2px #02010a;
display: flex;
justify-content: center;
align-items: center;
}

#columna2
{
background-color: #d5c75f;
width: 50%;
box-shadow: 2px #02010a;
display: flex;
justify-content: center;
align-items: center;
}
#columna3
{
background-color: #d5c75f;
width: 50%;
box-shadow: 2px #02010a;
display: flex;
justify-content: center;
align-items: center;
}

#columna4
{
background-color: #C6d5c5;
width: 25%;
}

#columna5
{
background-color: #C6d5c5;
width: 25%;
}
#columna6
{
background-color: #C6d5c5;
width: 25%;
}
#columna7
{
background-color: #C6d5c5;
width: 25%;
}
#columna8
{
background-color: #d5c75f;
width: 33%;
}
#columna9
{
background-color: #d5c75f;
width: 33%;
}
#columna10
{
background-color: #d5c75f;
width: 34%;
}
#columna11
{
background-color: #d5c75f;
width: 33%;
}
#columna12
{
background-color: #d5c75f;
width: 33%;
}
#columna13
{
background-color: #d5c75f;
width: 34%;
}

@-moz-keyframes slidein {
  from {
    margin-left:100%;
    width:300%
  }

  to {
    margin-left:0%;
    width:100%;
  }
}

	@media screen and (max-width: 900px){

	#wrapper
		{
			width: 100%;
			margin: 0 auto;
		}
		#columna1
		{
		width: 100%;
		}
		#columna2
		{
		width: 100%;
		}
		#columna3
		{
		width: 100%;
		}
		#columna4
		{
		width: 100%;
		}
		#columna5
		{
		width: 100%;
		}
		#columna6
		{
		width: 100%;
		}
		#columna7
		{
		width: 100%;
		}
		#columna8
		{
		width: 100%;
		}
		#columna9
		{
		width: 100%;
		}
		#columna10
		{
		width: 100%;
		}
		#columna11
		{
		width: 100%;
		}
		#columna12
		{
		width: 100%;
		}
		#columna13
		{
		width: 100%;
		}
		header
		{
		width:100%;
		}
	}
