#cabecera{
	background: #5b7989;
	border-radius: 10px 10px 0px 0px;
-moz-border-radius: 10px 10px 0px 0px;
-webkit-border-radius: 10px 10px 0px 0px;
	border: 0px solid #000000;
}

h1{
	color: white;
	text-shadow: 1px 2px #02010a;
	border: 10px;
	font-family: "Dancing Script";
	display:inline;
 }

.enlace{
	color: white;
	text-align: right;
}

body{
	font-family: "Dancing Script";
	background-color:  #02010a;
}
