@media print{
  img{
    width: 100%;
  }
  h1{
    text-align:  center;
  }
}

@media screen{
  h1{
    text-align: right;
  }
}

@media (max-width:420px){
  p{
    color: red;
  }
}

@media (min-width:421px) and (max-width:720px){
  p{
    color: blue;
  }
}

img
{
    width: 300px;
    height: 300px;
}
p
{
    font-size: 8px;
}
footer
{
    color: blue;
}
h2
{
    word-spacing: 300px;
}
